@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap');
.body__head{
    max-width: 1510px;
    margin: auto;
}
.header__top{
width: 1510px;
height: 1026px;
/* background: grey; */
margin: auto;
background-image: url(street.svg);
position: relative;

}
.header__top::before{

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* z-index: 2; */
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}
.head2{
    max-width: 1510px;
    height: 75px;
 display: flex;
justify-content: space-between;
position: relative;
}
.container{
    max-width: 1510px;
    height: 75px;
    background: black;
    margin: auto;
    position: relative;
}
.header__block{
    position: relative;
    z-index: 5;
}

.image__top{
    padding-left: 115px;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 80px;
    height: 30px;
}
.links__top{
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    display: inline-flex;
    list-style-type: none;
    margin: auto;
    /* padding-left: 560px; */
width: 113px;
height: 75px;
/* font-family: "Open-Sans" "semibold"; */
}
.links__inside{
    /* display: flex; */
    text-decoration: none;
    
    margin-left: 70px;
    width: 113px;
    /* height: 75px; */
    font-family: "Open Sans";
    font-weight: 600;
}
.links__top a{
    text-decoration:none;
    color: #fff;
    
    /* font-family: "Open-Sans" ; */
}
.header__block{
    margin: auto;
    width: 1510px;
    display: flex;
}
.header__top{

}
.header__left{
margin-left: 170px;
}
.picture__header{
margin-top: 231px;

}
.text__header{

    margin-top: 73px;
    font-size: 48px;
    width: 670px;
    height: 168px;
    color: #fff;
}
.text__header p{
    font-family: "Raleway";
    font-weight: 500;
}
.line__header{
    content: "";
    
    border: 1px solid #fff;
    width: 170px;
    margin-top: 55px;
}

.text2__header{
    width: 270px;
    height: 42px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 42px;
}
.text2__header p{
    font-family: "Raleway";
    font-weight: 400;
 }
.buttonax__head{
    width: 270px;
    height: 58px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 55px;
    margin-bottom: 185px;
}
.buttonax__head a{
    text-decoration: none;
    color: #fff;
    width: 270px;
    height: 58px;
    display: inline-block;
    font-family: "Open Sans";
    font-weight: 600;
}
.header__right{
width: 470px;
height: 450px;
margin-top: 208px;
margin-left: 30px;
margin-bottom: 293px;
background:#fff;
border-radius: 10px;
}
.textmain__header{
    display: flex;
    width: 367px;
    height: 90px;
    margin: 0 220px 45px 53px;
    line-height: 80px;
    padding-left: 35px;
    padding-bottom: 45px;
    font-size: 24px;
    margin: auto;
text-align: center;

text-transform: uppercase;
}
.text__hedright{
    color:#333;
    font-family: "Open Sans";
    font-weight: 700;
}
.color__free{
    color: #EC7979;
    font-family: "Open Sans";
    font-weight: 700;
}
.inpute__header{
    margin-left: 50px;
    margin-right: 50px;
    

}
.inpute__header input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 33px;
    outline: none;
    

}

.inpute__header label{
    width: 370px;
    height: 19px;
    color: #BDBDBD;
    margin-bottom: 16px;
    font-family: "Raleway";
    font-weight: 400;
}
.buttom__header{
    margin-top: 46px;
    background-color: #EC7979;
    width: 100%;
    height: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.buttom__header a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: "Open Sans";
    font-weight: 600;
}
.media__header{
    width: 1510px;
    height: 140px;
    margin: auto;
    background-color: #F8EFEF;
    display: flex;
}
.media__head{
    margin-left: 170px;
    width: 470px;
    height: 60px;
    text-align: left;
    line-height: 50px;
    font-size: 24px;
    margin-bottom: 18px;
    
}
.media__head strong{
    font-family: "Open Sans";
    font-weight: 700;
}
.leftside__media{
margin-bottom: 18px;
}
.media__text{
    width: 470px;
    height: 42px;
    margin-left: 170px;
    color: #86878B;
    font-family: "Raleway";
    font-weight: 400;
    margin-bottom: 18px;
}
.rightside__media{
    margin-right: 45px;
    
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.rightside__span{

}
.links__media{
    display: flex;
    margin-right: 45px;
    list-style-type: none;
}
.ul__media{
    display: flex;
    margin-left: 50px;
    margin-right: 180px;
}
.tabs{
    margin-left: 170px;
}
.tabs__head{
    
    margin-top: 100px;
    width: 184px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 19px;
    position: relative;
    Font-family: "Open Sans";
    /* Font-style:"Regular" */
    font-weight: 400;
}
 .tabs__head:hover{
    width: 203px;
    border: 1px solid #C6CBCD;
    border-bottom: 0;
    border-radius: 5px 5px 0 0 ;
    border-bottom: none;
    
}
.tabs__head:active{
    width: 203px;
    border: 1px solid #C6CBCD;
    border-bottom: 0;
    border-radius: 5px 5px 0 0 ;
}


.tabs123__header {
    display: flex;
    
    justify-content: flex-start;
}
.tabs__header{
width: 1170px;
height: 500px;
margin: auto;
margin-left: 170px;
border: 1px solid #C6CBCD;

display: flex;
margin-bottom: 50px;
}
.tabsleft__header{

}
.tabshead__header{
width: 570px;
height: 124px;
margin-left: 100px;
text-align: left;

Font-family: "Open Sans";
font-weight: 700;
font-size: 30px;
line-height: 100%;
line-height: 41px;
}
.tabstext__header{
    width: 570px;
    height: 210px;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 18px;
    line-height: 21px;
    
}
.tabstext__header p{
    font-family: "Raleway";
    font-weight: 400;
}
.buttomtabs__header{
    
    margin-left: 100px;
    
    width: 270px;
    background: #EC7979;
    text-align: center;
    line-height: 55px;
    color: #FFFFFF;
    margin-bottom: 54px;
}
.buttomtabs__header a{
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    width: 270px;
    height: 58px;
    font-family: "Open Sans";
    font-weight: 600;
}
.tabsimage__header{
margin-left: 30px;
height: 100%;
}

.awesome{
    align-items: center;
}
.awesome__body{
    align-items: center;
    max-width: 1500px;
    max-height: 900px;
margin: auto;

    }
    .awesome__line{
content: "";
width: 170px;
height: 0;
border: 1px solid rgb(211, 160, 19);
position: absolute;
text-align: center;
margin-left: 668px;
margin-right: 670px;
margin-bottom: 40px;


    }


    .awesome__header{
    margin:0px 0px 40px 0px
    }
    .awesome__title{
    margin:0px 0px 30px 0px
    
    }
    .awesome__text{
    font: 1em sans-serif;
    padding-top:40px ;
    text-align: center;
    margin-bottom: 110px;
    }
    .awesome__row{
      /* margin: 0 -15px ; */
    display: flex;
    margin: auto;
    }
    .awesome__column{
    align-content: center;
    display: flex;
max-width: 1300px;
max-height: 900px;
margin: auto;
      /* flex: 0 0 33.333%; */
      /* padding: 0 15px; */

    }
.title{
    font-family: "Raleway";
    font-weight: 400;
    position: relative;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  
   
  }
.awesome__text{
    font-family: "Raleway";
    font-weight: 400;
}
  
  /* .item-awesome{} */
  
  .item-awesome__icon img {
   align-items: center;
  display: block;
  margin: auto;  
  width: 92px;
  height: 92px;
  text-align: center;
  margin-bottom: 39px;
  
  }
      .item-awesome__title{
font-family: "Open Sans";
font-family: 700;
       height: 100px;
       width: 370px;
       text-align: center;
       margin-bottom: 8px;
       /* padding-right:20px ; */
       line-height: 120px;
      }
      .item-awesome__text{
   width: 370px;
   height: 105px;
   font-family: "Raleway";
   font-weight: 400;
   /* padding-right:20px ; */
          text-align: center;
          font-size: 18px;
          /* padding: 30px 30px; */
          
      }
      .price{
        background-color: #f5f5f5;
      }
      .price__body{
        max-width: 1500px;
        max-height: 900px;
        margin: auto;
        
        }
        /* .price__hearder{
            
        }
        .price__title{
        } */
        .title{
        text-align: center;
         width: 1170px;
         height: 150px;
         font-size: 36px;
         margin-top: 50px;
         margin-left: 168px;
         margin-right: 170px;
         line-height: 150px;
        
        }
        .pricing__line{
        content: "";
        width: 170px;
        height: 0;
        border: 1px solid black;
        position: absolute;
        
        margin-left: 668px;
        margin-right: 670px;
        margin-bottom: 40px;
        }
        .pricing__text{
        width: 1169px;
        height: 21px;
        font-family: "Raleway";
        font-weight: 400;
        Font-size: 18px;
        text-align: center;
        padding-left: 170px;
        padding-top: 40px;
        margin-bottom: 80px;
        }
        .pricing__row{
        display: flex;
        max-width: 1300px;
        max-height: 900px;
        margin: auto;
        
        /* margin: auto; */
        
        
        }
        .pricing__column{
        /* flex: -33.333%; */
        /* flex: 0 0 33.333%; */
        /* padding-right:30px; */
        padding-left: 50px;
        }
        
        
        /* .items--inside{ */
        
        /* }
        .items--list__price{
        
        } */
        .items--list__li{ 
            text-align: center;
            list-style-type: none;
            padding: 0;

            
        
        }
        .items--first__item{ 
            width: 370px;
            height: 60px;
            background-color: rgb(61, 54, 54);
            color: aliceblue;
            border-bottom: 1px solid white;
            Font-family: "Open Sans";
            Font-style: "Bold";
            font-size: 24px;
            /* text-align: center;
            vertical-align: middle; */
            line-height: 55px;
        }
        
        .items--second__item{
        display: block;
        /* box-shadow:  14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
        width: 370px;
        height: 100px;
        background-color: rgb(61, 54, 54);
            color: aliceblue;
            border-bottom: 1px solid white;
            margin-right: 0px;
            font-size: 36px;
            line-height: 100px;
            Font-family: "Raleway";
            Font-style: "Bold";
        }
        .items--third__item{
            width: 370px;
            height: 50px;
            background-color: rgb(61, 54, 54) ;
            font-family: Arial, Helvetica, sans-serif;
            /* color: aliceblue; */
            color: rgba(248, 242, 242, 0.5);
            font-size: 18px;
            line-height: 50px;
            Font-family: "Raleway", "Regular";
            
        }
        .items--others__item{
            width: 370px;
            height: 50px;
            background-color: white;
            border-bottom: 1px solid grey;
            color: gray;
            font-size: 18px;
            line-height: 50px;
            Font-family: "Raleway", "Regular";
        }
        .rest__item{
            margin-bottom: 50px;
        }





        /* .items--others__item:hover{
            box-shadow: 0 10px 10px 10px rgb(87, 85, 85);
            transform: translate(30px );
            transition: 0.3s;
        } */
        .items--list__li:hover{
            box-shadow: 0 3px 2px 3px rgb(87, 85, 85);
            transform: translateY(-30px);
            transition: 0.3s;}
            .header__bottom{
                /* max-width: 1200px;
                max-height: 630px; */
                margin: auto;
                }
                .block__bottom{
                    max-width: 1200px;
                max-height: 672px;
                margin: auto;
                }
                .main__bottom{
                
                }
                .title__bottom{
                margin: auto;
                text-align: center;
                width: 1170px;
                height: 150px;
                line-height: 140px;
                Font-family: "Raleway", "Regular";
                Font-size: 36px;
                }
                .line__bottom{
                    content: "";
                    width: 170px;
                    margin: auto;
                    border: 1px solid orange;
                    margin-bottom: 40px;
                
                }
                .text__bottom{
                    margin: auto;
                    width: 1170px;
                    height: 21px;
                text-align: center;
                font-size: 18px;
                margin-bottom: 83px;
                Font-family: "Raleway", "Regular"; 
                }
                .messages__bottom{
                max-width: 1500px;
                display: flex;
                justify-content: space-between;
                Font-family: "Raleway", "Regular"; 
                /* width: 370px;
                height: 180px; */
                
                margin: auto;
                }
                .text__shadow{
                    color: #868698
                    ;
                    margin-top: 38px;
                    margin-bottom: 38px;
                }
                .comments__bottom{
                text-align: center;
                /* padding-top: 38px;
                padding-bottom: 38px; */
                /* margin: auto; */
                height: 180px;
                width: 370px;
                background-image: url(image.1.jpg) ;
                margin-right: 30px;
                justify-content: center;
                }
                .delta__main{
                    /* padding-left: 240px; */
                    max-width: 1510px;
                }
                .delta__bottom{
                    
                    max-width: 100%;
                    justify-content: space-around;
                    /* justify-content: flex-start; */
                    display: flex;
                }
                .delta__item{
                    /* padding-left: 370px; */
                }
                
                
                .newblock__bottom{
                display: flex;
                margin: auto;
                padding-top: 66px;
                /* justify-content: space-between; */
                }
                .images__bottom{
                width: 70px;
                height: 70px;
                }
                .message__bottom{
                    padding-left: 30px;
                padding-right: 30px;
                }
                .name__bottom{
                width: 269px;
                height: 54px;
                margin-left: 0px;
                font-family: "Open Sans";
                font-weight: 700;
                }
                .menager__bottom{
                width: 270px;
                height: 21px;
                font-size: 18px;
                margin-left: 0;
                Font-family: "Raleway", "Regular"; 
                }
                .menagers__bottom{
                    display: flex;
                    padding-bottom: 64px;
                }
                
                .styleaxure__bottom{
                    
                background-image: url("image.jpg")  ;
                
                max-width: 1500px;
                height: 442px;
                background-size: auto;
                /* fill:  rgba(0, 0, 0, 0.5); */
                margin: auto;
                position: absolute;
                }
                .styleaxure__bottom::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background-color: rgba(0, 0, 0, 0.5);
                }
                .styleaxure__bottom{
                    position: relative;
                    z-index: 1;
                    margin-top: 64px;
                }
                
                .styletext__bottom{
                    margin: auto;
                text-align: center;
                width: 1170px;
                height: 150px;
                line-height: 140px;
                font-size: 36px;
                color: #FFFFFF;
                padding-top: 50px;
                Font-family: "Raleway", "Regular"; 
                }
                .line2__bottom{
                    content: "";
                    width: 170px;
                    margin: auto;
                    border: 1px solid #FFFFFF;
                    margin-bottom: 40px;
                }
                .text2__bottom{
                    margin: auto;
                    width: 1170px;
                    height: 21px;
                text-align: center;
                font-size: 18px;
                color: #FFFFFF;
                margin-bottom: 73px;
                Font-family: "Raleway", "Regular"; 
                }
                .button__bottom{
                    
                    width: 370px;
                    height: 58px;
                    margin: auto;
                    line-height: 55px;
                    border: 2px solid #FFFFFF;
                    text-align: center;
                }
                .button__bottom a {
                    text-decoration: none;
                    display: inline-block;
                    color: #FFFFFF;
                    width: 370px;
                    height: 58px;
                    Font-size: 18px;
                    font-family: "Open Sans";
                    font-weight: 600;
                }
                .contact__bottom{
                    margin-top:50px ;
                    
                    max-width: 1500px;
                    height: 442px;
                    
                    
                    margin: auto;
                } 
                .contacttext__bottom{
                    margin: auto;
                    text-align: center;
                    width: 1170px;
                    height: 150px;
                    line-height: 140px;
                    font-size: 36px;
                    Font-family: "Raleway", "Regular"; 
                    padding-top: 50px;
                }
                .line3__bottom{
                    content: "";
                    width: 170px;
                    margin: auto;
                    
                    border: 1px solid #EC7979;
                    margin-bottom: 40px;
                }
                .text3__bottom{
                    margin: auto;
                    width: 1170px;
                    height: 21px;
                text-align: center;
                font-size: 18px;
                Font-family: "Raleway", "Regular"; 
                
                }
                .inputes__bottom{
                    max-width: 1170px;
                    display: flex;
                    margin: auto;
                    box-sizing: border-box;
                    align-items: flex-end;
                    
                }
                .inputes2__bottom{
                    margin-bottom: 4px;
                    /* padding-top: -89px; */
                }
                
                .inputeleft__bottom input{
                width: 50%;
                border: none;
                width: 571px;
                
                
                border-bottom: 1px solid grey;
                outline: none;
                }
                .inputeleft__bottom label{
                    display: block;
                    color: gray;
                    margin-bottom: 16px;
                    margin-top: 50px;
                    width: 570px;
                    height: 19px;
                    font-family: "Open Sans";
                    font-weight: 400;
                    }
                .textarea__bottom{
                margin-left: 30px;
                
                color: gray;
                
                width: 571px;
                /* height: 3px; */
                width: 100%;
                   
                  /* не работает textarea */
                outline: none;
                }
                .textarea__bottom label {
                    padding-bottom: 192px;
                    width: 570px;
                    height: 19px;
                    margin-top: 89px;
                width: 100%;
                font-family: "Open Sans";
                    font-weight: 400;
                }
                .textarea__bottom textarea{
                    /* padding-top:37px ; */
                    border: none;
                    border-bottom: 1px solid grey;
                    width: 100%;
                    height: 15px;
                    outline: none;
                    resize: none;
                    height: 244px;
                    
                }
                
                
                .butt0n__bottom{
                    /* width: 370px;
                    height: 58px;
                    margin: auto; */
                    
                    line-height: 55px;
                    text-align: center;
                    font-family: "Open Sans";
                    font-weight: 600;
                    margin-top: 50px;
                    margin-bottom: 50px;
                
                    
                }
                .butt0n__bottom a {
                    width: 370px;
                    height: 58px;
                    text-decoration: none;
                    display: inline-block;
                    background: #EC7979;
                    color: #FFFFFF;
                    font-size: 18px;
                }
                .main__end{
                width: 1510px;
                height: 164px;
                margin: auto;
                background: #000;
                display: block;
                
                }
                .end__top{
                    
                    padding-top:40px ;
                    display:flex ;
                justify-content: center;
                margin-left: 45px;
                
                }
                .end__bottom{
                    width: 1170px;
                    height: 21px;
                margin: auto;
                color: #FFFFFF ;
                text-align: center;
                opacity: 0.5;
                Font-family: "Raleway","пRegular";
                }
                .links__end{
                    align-items: center;
                    padding-left: 485px;
                    padding-right: 480px;
                    justify-content: space-between;
                    display: inline-flex;
                    list-style-type: none;
                    margin: auto;
                }
                .linksin__end{
                    margin-left: 40px ;
                }